<div class="tui-container login">
<form [formGroup]="userDataControl" class="login__form" (ngSubmit)="onSubmit()">
    <tui-input class="tui-space_bottom-3" id="login" type="text" formControlName="login">Login</tui-input>
    <p *ngIf="userDataControl.controls['login'].touched && userDataControl.controls['login'].invalid">
        Login is required</p>
    <tui-input-password class="tui-space_bottom-3" id="password" formControlName="password">Password</tui-input-password>
    <p *ngIf="userDataControl.controls['password'].touched && userDataControl.controls['password'].invalid">
        Login is required</p>
    <button
    tuiButton
    type="submit"
    appearance="primary"
    [disabled]="userDataControl.invalid">
    Log In
</button>
</form>
<p>Don't have an account? 	<a
    tuiLink
    routerLink="/signup"
>
    Sign Up
</a></p>
</div>